* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #E9FBFC;
}

/* Navigation */

nav {
    background-color: #F9FAFA;
    padding: 1rem 1rem;
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0 15rem;
    padding: 0;
    text-transform: uppercase;
}

nav li {
    padding: 2rem 2rem;
}


nav a {
    text-decoration: none;
    color: #565657;
    font-weight: 700;

}

nav a:hover {
    color: #8b3627;
    transition: .2s;
}

nav a.active {
    color:#8b3627;
}

/* End Navigation */

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.wrapper img{
    display: block;
    width: auto;
    height: auto;
    margin: 5rem 0;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    margin-bottom: 10rem;
    font-weight: 600;
}
.bridesmaid {
    margin-right: 2rem;
    text-align: center;
}

.bridesmaid ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.bridesmaid li {
    line-height: 2rem;
}
.groomsmen {
    margin-left: 1rem;
    text-align: center;
}

.groomsmen ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.groomsmen li{
    line-height: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    font-size: .8rem;
    color: #fff;
    background-color: #2E2E2E;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {

    nav ul {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin: 0 1rem;
    }

    nav ul li  {
        padding: 1rem 1rem;

    }  
    nav ul li a {
        display: block;
    }  

    .wrapper img {
        display: block;
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        flex-flow: column;
    }

    .wrapper img {
        display: block;
        height: 100px;
        width: auto;
    }
   
}